h1 {
    font-family: 'Helvetica', 'Trebuchet MS', 'Arial', 'sans-serif';
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    line-height: 30px;
    padding: 20px;
    font-feature-settings: "kern";
    color: white;
}

a {
    font-family: 'Helvetica', 'Arial Narrow', 'Arial', 'sans-serif';
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    line-height: 10px;
    padding: 20px;
    font-feature-settings: "kern";
}

body {
    background-color: #c2e2fb;
}

img {
    transform: translateY(20px);
}
